html{
    height: 100%;
}

table{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

body{
    height: 100%;
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif;
    background-color:#37F;
}

#root_div{
	position:relative;
	width:700px;
	height:500px;
	background-color:#FFF;
	border: 1px solid #000;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius: 10px;
	overflow:hidden;
	border:1px solid #999;
}